$dorado : #b8a663;
a:hover{
    color: $dorado!important;
}
.col-center{
    margin: 0 auto;
    float: none;
}
section.content-section{
    background-color: white!important;
}
/**
=============HAMBURGERS==============
*/ 
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color: black;
}
/**
=============HEADER==============
*/
.secondNav{
    .header{
        .menuham-container{
            padding: 2px;
        }
    }
}
.header{
    .menuham-container{
        float: right;
        padding: 20px 10px;
        transition: all .4s;
    }
    span.etiqueta{
        position: relative;
        top: -6px;
        color: black;
        text-transform: uppercase;
    }
    
}


#complete-contact{
    .tab-style-8 .nav-tabs>li.active>a, .tab-style-8 .nav-tabs>li.active>a:focus, .tab-style-8 .nav-tabs>li.active>a:hover{
        color: $dorado;
        border-bottom: 3px solid $dorado;
    }
    .tab-style-8 .nav-tabs>li>a{
        margin: 0 25px;
    }
    .tab-style-8 .tab-content{
        text-align: left
    }
    .form-control{
        background: white;
    }
    .st-btn.primary-btn{
        background: black;
        border: 1px solid black;
    }
    .st-btn.primary-btn.hvr-back:active, .st-btn.primary-btn.hvr-back:focus, .st-btn.primary-btn.hvr-back:hover{
        color: black!important;
    }

    .form-problema{
        select{
            width: 100%;
            height: 40px;
        }
    }
    .st-checkbox:checked+.st-checkbox-1-label:before, .st-radio:checked+.st-radio-1-label:before{
        background: $dorado;
    }
    .st-checkbox:checked+.st-checkbox-2-label:before, .st-radio:checked+.st-radio-2-label:before{
        background: $dorado;
    }
}



#cont{
    color: black;
    h4 a.mail{
        text-transform: lowercase;
        color: $dorado;

    }
    a.map{
        color: black;
        text-transform: uppercase;
        display: inline-block;
    }
    a.map.underline:after{
        left: 50%;
        transform: translateX(-50%);
        background: $dorado;
        width: 100%;
        height: 2px;
    }
    .social-container{
        margin-bottom: 30px;
        i.fa{
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: black;
            color: white;
            margin-right: 30px;
        }
    }
    .form-control{
        background: white;
    }
    .st-btn.primary-btn{
        background: black;
        border: 1px solid black;
    }
    .st-btn.primary-btn.hvr-back:active, .st-btn.primary-btn.hvr-back:focus, .st-btn.primary-btn.hvr-back:hover{
        color: black!important;
    }
}