body {
  font-family: fire-sans;
}

body h5 {
  font-family: fire-sans;
}

a:hover {
  color: #6d2520 !important;
}

.col-center {
  margin: 0 auto;
  float: none;
}

section.content-section {
  background-color: white !important;
}

#overplay .overplay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  background: #000000e6;
}

#overplay .overplay.open .after {
  opacity: 1;
  visibility: visible;
}

#overplay .overplay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

#overplay .overplay .after {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
}

#overplay a {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  font-family: fire-sans;
}

#overplay .content-section {
  padding-top: 20%;
}

#overplay .productos {
  padding-top: 20px;
}

#overplay .contacto {
  padding-top: 15px;
}

#overplay .social-container {
  margin-top: 40px;
  text-align: center;
}

#overplay .social-container i.fa {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: black;
  color: white;
  margin: auto 15px;
}

@media only screen and (max-width: 600px) {
  #overplay .content-section {
    padding-top: 40%;
  }
}

#overplay .overclose {
  text-align: center;
  padding-top: 8%;
}

/**
=============HAMBURGERS==============
*/
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: black;
}

/**
=============HEADER==============
*/
.secondNav .header .logo {
  padding: 16px;
}

.secondNav .header .menuham-container {
  padding: 2px;
}

.header .logo {
  padding: 28px 10px;
}

.header .menuham-container {
  float: right;
  padding: 20px 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header span.etiqueta {
  position: relative;
  top: -6px;
  color: black;
  text-transform: uppercase;
}

#complete-contact .tab-style-8 .nav-tabs > li.active > a, #complete-contact .tab-style-8 .nav-tabs > li.active > a:focus, #complete-contact .tab-style-8 .nav-tabs > li.active > a:hover {
  color: #6d2520;
  border-bottom: 3px solid #6d2520;
}

#complete-contact .tab-style-8 .nav-tabs > li > a {
  margin: 0 25px;
  border: 3px solid transparent;
}

#complete-contact .tab-style-8 .tab-content {
  text-align: left;
}

#complete-contact .form-control {
  background: white;
}

#complete-contact .st-btn.primary-btn {
  background: black;
  border: 1px solid black;
  position: relative;
  height: 35px;
  width: 150px;
  line-height: 0;
}

#complete-contact .st-btn.primary-btn.hvr-back:before {
  background: #fff;
}

#complete-contact .st-btn.primary-btn.hvr-back:active, #complete-contact .st-btn.primary-btn.hvr-back:focus, #complete-contact .st-btn.primary-btn.hvr-back:hover {
  color: black !important;
}

#complete-contact .form-problema select {
  width: 100%;
  height: 40px;
}

#complete-contact .st-checkbox:checked + .st-checkbox-1-label:before, #complete-contact .st-radio:checked + .st-radio-1-label:before {
  background: #6d2520;
}

#complete-contact .st-checkbox:checked + .st-checkbox-2-label:before, #complete-contact .st-radio:checked + .st-radio-2-label:before {
  background: #6d2520;
}

@media only screen and (max-width: 600px) {
  #complete-contact .cl {
    padding-left: 0;
  }
  #complete-contact .pull-right {
    float: left !important;
  }
}

p {
  color: black;
}

.input-style-2 {
  border: none;
  border-bottom: 2px solid black;
}

select {
  border: none;
  border-bottom: 2px solid black;
}

#cont {
  color: black;
}

#cont h4 a.mail {
  text-transform: lowercase;
  color: #6d2520;
}

#cont a.map {
  color: black;
  text-transform: uppercase;
  display: inline-block;
}

#cont a.map.underline:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #6d2520;
  width: 100%;
  height: 2px;
}

#cont .social-container {
  margin-bottom: 30px;
  text-align: center;
}

#cont .social-container i.fa {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: black;
  color: white;
  margin-right: 30px;
}

#cont .form-control {
  background: white;
}

#cont .st-btn.primary-btn {
  background: black;
  border: 1px solid black;
}

#cont .st-btn.primary-btn.hvr-back:active, #cont .st-btn.primary-btn.hvr-back:focus, #cont .st-btn.primary-btn.hvr-back:hover {
  color: black !important;
}

#cont .boton-s {
  position: relative;
  height: 35px;
  width: 150px;
  line-height: 0;
}

@media only screen and (max-width: 500px) {
  #cont div {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #cont .social-container {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .g-recaptcha {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
}

@media only screen and (max-width: 500px) {
  .tab-style-8 .nav-tabs > li {
    width: 50%;
    float: left;
    display: block;
  }
  #complete-contact .tab-style-8 .nav-tabs > li > a {
    padding: 10px 5px;
    margin: 0 10px;
  }
}

.form-group label {
  font-size: 15px;
  color: #000;
}

.footer.dark-footer {
  background: url(../images/footer_lodyas.png) fixed #000000;
  background-size: contain;
  border-top: 1px solid #000000;
}

section.content-section {
  padding: 35px 0;
}

.footer .footer-top {
  padding-bottom: 0px;
  border-bottom: 0;
}

.lefttxt {
  top: -16px;
}

@media (min-width: 992px) {
  .plcont {
    padding-left: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .cr {
    padding-right: 0;
  }
  .cl {
    padding-left: 0;
  }
  .lefttxt {
    padding-left: 16px;
    margin-bottom: 0px !important;
  }
}
/*# sourceMappingURL=contact.css.map */