a:hover {
  color: #6d2520 !important;
}

.col-center {
  margin: 0 auto;
  float: none;
}

section.content-section {
  background-color: white !important;
}

/**
=============HAMBURGERS==============
*/
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: black;
}

/**
=============HEADER==============
*/
.secondNav .header .menuham-container {
  padding: 2px;
}

.header .menuham-container {
  float: right;
  padding: 20px 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header span.etiqueta {
  position: relative;
  top: -6px;
  color: black;
  text-transform: uppercase;
}

#complete-contact .tab-style-8 .nav-tabs > li.active > a, #complete-contact .tab-style-8 .nav-tabs > li.active > a:focus, #complete-contact .tab-style-8 .nav-tabs > li.active > a:hover {
  color: #6d2520;
  border-bottom: 3px solid #6d2520;
}

#complete-contact .tab-style-8 .nav-tabs > li > a {
  margin: 0 25px;
  border: 3px solid transparent;
}

#complete-contact .tab-style-8 .tab-content {
  text-align: left;
}

#complete-contact .form-control {
  background: white;
}

#complete-contact .st-btn.primary-btn {
  background: black;
  border: 1px solid black;
  position: relative;
  height: 35px;
  width: 150px;
  line-height: 0;
}

#complete-contact .st-btn.primary-btn.hvr-back:before {
  background: #fff;
}

#complete-contact .st-btn.primary-btn.hvr-back:active, #complete-contact .st-btn.primary-btn.hvr-back:focus, #complete-contact .st-btn.primary-btn.hvr-back:hover {
  color: black !important;
}

#complete-contact .form-problema select {
  width: 100%;
  height: 40px;
}

#complete-contact .st-checkbox:checked + .st-checkbox-1-label:before, #complete-contact .st-radio:checked + .st-radio-1-label:before {
  background: #6d2520;
}

#complete-contact .st-checkbox:checked + .st-checkbox-2-label:before, #complete-contact .st-radio:checked + .st-radio-2-label:before {
  background: #6d2520;
}

p {
  color: black;
}

.input-style-2 {
  border: none;
  border-bottom: 2px solid black;
}

select {
  border: none;
  border-bottom: 2px solid black;
}

#cont {
  color: black;
}

#cont h4 a.mail {
  text-transform: lowercase;
  color: #6d2520;
}

#cont a.map {
  color: black;
  text-transform: uppercase;
  display: inline-block;
}

#cont a.map.underline:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #6d2520;
  width: 100%;
  height: 2px;
}

#cont .social-container {
  margin-bottom: 30px;
  text-align: center;
}

#cont .social-container i.fa {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: black;
  color: white;
  margin-right: 30px;
}

#cont .form-control {
  background: white;
}

#cont .st-btn.primary-btn {
  background: black;
  border: 1px solid black;
}

#cont .st-btn.primary-btn.hvr-back:active, #cont .st-btn.primary-btn.hvr-back:focus, #cont .st-btn.primary-btn.hvr-back:hover {
  color: black !important;
}

#cont .boton-s {
  position: relative;
  height: 35px;
  width: 150px;
  line-height: 0;
}

@media only screen and (max-width: 500px) {
  .tab-style-8 .nav-tabs > li {
    width: 50%;
    float: left;
    display: block;
  }
  #complete-contact .tab-style-8 .nav-tabs > li > a {
    padding: 10px 5px;
    margin: 0 10px;
  }
}

.form-group label {
  font-size: 15px;
  color: #000;
}
/*# sourceMappingURL=contact.css.map */