body{
    font-family: 'Fira Sans', sans-serif!important;
    h5{
        
    }
}

*{
    font-family: 'Fira Sans', sans-serif!important;
}
$dorado : #b8a663;
a:hover{
    color: $dorado!important;
}
.col-center{
    margin: 0 auto;
    float: none;
}

#overplay{
    .overplay.open{
	opacity: 1;
    visibility: visible;
    height: 100%;
    background: #000000e6;
        .after{
            opacity: 1;
            visibility: visible;
        }
	}
	.overplay{
	position: fixed;
	top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
        .after{
            opacity: 0;
            visibility: hidden;
            transition: all .3s linear; 
        }
    }
    a{
        color: #fff;
        font-weight: bold;
        font-size: 2em;
        
    }
    .content-section{
        padding-top: 20%;
    }
    .productos{
        padding-top: 20px;
    }
    .contacto{
        padding-top: 15px;
    }
    .social-container{
        margin-top: 40px;
        text-align: center;
        i.fa{
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: black;
            color: white;
            margin: auto 15px;
        }
        
    }
    @media only screen and (max-width:600px){
            .content-section{
                padding-top: 40%;
            }
    }
    .overclose{
        text-align: center;
        padding-top: 8%;
        // img{
        //     width: 60px;
        // }
    }
}
    

/**
=============HAMBURGERS==============
*/ 
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color: #fff;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    border-radius: 0;
}
/**
=============HEADER==============
*/
.secondNav{
    .header{
        background: #000;
        .menuham-container{
            padding: 2px;
        }
        .logo .logo-img{
            max-height: 38px;
        }
    }
}
.header{
    .logo{
        padding: 28px 10px;
    }
    .menuham-container{
        float: right;
        padding: 20px 10px;
        transition: all .4s;
    }
    span.etiqueta{
        position: relative;
        top: -6px;
        color: #fff;
        text-transform: uppercase;
    }
}
.hamb-white{
    span.etiqueta{
        position: relative;
        top: -6px;
        color: #000;
        text-transform: uppercase;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
        background-color: #000;
    }
}
.dark-header .header {
        background: #ffffff;
    }
.desc{
    padding-top: 10px;
}
.l2{
    padding-bottom:10px; 
}
#productos{
    background: url(../images/texturplast/productos-bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    
    h3{
        color: white;
        font-size: 3em;
        letter-spacing: 2px;
        margin-bottom: 25px;
        
    }
    .subtitle{
        color: #aaaaaa;
        margin-bottom: 40px;
        
    }
    .tab-style-3{
        border-top: 2px solid white;
        .tab-content{
            margin-top: 20px;
            background: none;
            border: none;
            min-height: 300px;
            color: white;
            ul{
                position: relative;
                display: inline-block;
                li a{
                    color:white;
                }
            }
            ul:nth-child(2){
                left: 50px;
            }
        }
    }
    .tab-style-3 .nav-tabs>li>a{
        background: none;
        border: 2px solid transparent;
        color:#CCC;
    }
    .tab-style-3 .nav-tabs>li.active>a, .tab-style-3 .nav-tabs>li.active>a:focus, .tab-style-3 .nav-tabs>li.active>a:hover{
        border-bottom: 2px solid $dorado;
        color: $dorado;
    }

    @media only screen and (max-width:991px){
        .tab-style-3 .nav-tabs li{
            float: left;
            width: 50%;
            a{
                height: 50px;
            }
        }
        .tab-content>.tab-pane{
            text-align: center;
        }
    }

}
#productos2{
    background: #fff;
    padding: 0px 0;
    
    h3{
        color: #000;
        font-size: 3em;
        letter-spacing: 2px;
        margin-bottom: 25px;
        
    }
    .subtitle{
        color: #000;
        margin-bottom: 40px;
        
    }
    .tab-style-3{
        border-top: 2px solid #000;
        .tab-content{
            box-shadow: none;
            margin-top: 20px;
            background: none;
            border: none;
            min-height: 300px;
            color: #000;
            ul{
                position: relative;
                display: inline-block;
                li a{
                    color:#000;
                }
            }
            ul:nth-child(2){
                left: 50px;
            }
        }
    }
    .tab-style-3 .nav-tabs>li>a{
        background: none;
        border: 2px solid transparent;
        color:#000;
    }
    .tab-style-3 .nav-tabs>li.active>a, .tab-style-3 .nav-tabs>li.active>a:focus, .tab-style-3 .nav-tabs>li.active>a:hover{
        border-bottom: 2px solid $dorado;
        color: $dorado;
    }

    @media only screen and (max-width:991px){
        .tab-style-3 .nav-tabs li{
            float: left;
            width: 50%;
            a{
                height: 50px;
            }
        }
        .tab-content>.tab-pane{
            text-align: center;
        }
    }

}
@media only screen and (max-width: 1200px) and (min-width: 991px){
    ul.last-list{
        max-width: 200px;
    }
}

#nosotros{
    background: url(../images/texturplast/nosotros-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% top;
    min-height: 800px;
    .title-row{
        padding-bottom: 260px;
        h3{
            font-size: 3em;
            color: black;
            
            
        }
    }
    .description-row{
        margin-bottom: 80px;
        .parrafo{
            color: black;
            font-size: 1.2em;
            max-width: 380px;
        }
    }
    .images-row{

    }
}
@media only screen and (max-width:991px){
    #nosotros{
        background-position: 99% 0%;
        background-size: auto;   
        .title-row{
            padding-bottom: 50px;
        }
        // .svgimage{
        //     height: 100px;
        //     width: 346px;
        // }
    }
}
@media only screen and (max-width:600px){
    #nosotros{
        min-height: unset;
        background-position: 70% 70%;
        background-size: auto;  
    }
}
.custom-cta{
    background: #fff;
    .text-center .underline::after{
        width: 20%;
        transform: translateX(-40%);
        background: $dorado;
        height: 2px;
    }
}
.custom-cta:hover{
    background:#e0e0e0;
}
.cta .cta-title {
    color: #000;
    margin-bottom: 12px;
    font-size: 2.5em;
    margin: 1px;
}
#contacto{
    color: black;
    h4 a.mail{
        text-transform: lowercase;
        color: $dorado;

    }
    a.map{
        color: black;
        text-transform: uppercase;
        display: inline-block;
    }
    a.map.underline:after{
        left: 50%;
        transform: translateX(-50%);
        background: $dorado;
        width: 100%;
        height: 2px;
    }
    .social-container{
        margin-bottom: 30px;
        i.fa{
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: black;
            color: white;
            margin-right: 30px;
        }
    }
    .form-control{
        background: white;
    }
    .st-btn.primary-btn{
        background: black;
        border: 1px solid black;
    }
    .st-btn.primary-btn.hvr-back:active, .st-btn.primary-btn.hvr-back:focus, .st-btn.primary-btn.hvr-back:hover{
        color: black!important;
    }
    input, textarea{
        border: none;
        border-bottom: 2px solid #000;
    }
    @media only screen and (max-width:600px){
        button{
            float: left!important;
        }
    }
    
}

.footer{
    .footer-middle{
        .fa{
            font-size: 24px;
        }
    }
   .lefttxt{
        float: left!important;
        top: -16px;
    }
    .footer-top{
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }
    @media only screen and (max-width:600px){
        .cr{
            padding-right: 0;
        }
        .cl{
            padding-left: 0;
        }
        .lefttxt{
            padding-left: 16px;
            margin-bottom: 0px!important;
        }
    }
}
.footer.dark-footer {
    background: url(../images/footer_lodyas.png) fixed #000000;
    background-size: contain;
    border-top: 1px solid #787878;
}
#main-descripcion{
    .row.like-table{
        max-width: 1200px;
        margin: 0 auto;
    }
    .row.like-table > div {
        display: table-cell;
        vertical-align: middle;
        float:none;
    }
    .descripcion-producto{
        color: black;
    }
    .row.like-table > div.descripcion-column-mob{
        display: none;
    }
    .rendimiento-titulo{
        text-transform: none;
        color: black;
        font-size: 1.2em;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .image-container{
        max-width: 400px;
        margin: 0 auto;
        img{
            min-width: 300px;
        }
    }
    .detalles-producto{
        color: black;
        font-weight: 700;
        font-size: 1.2em;
    }
    .descarga{
        color: black;
        margin: 0 10px;
    }
    .descarga2{
        max-height: 25px;
        vertical-align: baseline;
    }
    a.active{
        color: black;
        font-weight: 700;
    }
    
    .ficha-descarga{
        position: relative;
        top: -5px;
        font-size: 1.2em;
    }
    
    .panel-group{
        border-top: 3px solid #eae9e8;
        text-align: center;
    }
    .panel-heading{
        padding: 0 15px;
    }
    .panel-body{
        padding: 8px 5px;
        ul{
            margin-bottom: 0px;
        }
    }
    @media only screen and (max-width:991px){
        .descripcion-column{
            display: none!important;
        }
        .row.like-table > div.descripcion-column-mob{
            margin-top: 20px;
            display: block;
        }
    }
    @media only screen and (max-width:690px){
        .row.like-table{
            display:block;
        }
        .row.like-table > div{
            display: block;
            float: left;
        }
    }
}
#uso-section{
    background: white!important;
    .navigation-row{
        background:#282828;
        padding: 80px 0px;
    }
    .content-row{
        padding: 45px 0;
    }
    .icons-row{
        padding-bottom: 30px;
        margin-bottom: 40px;
        border-bottom: 2px solid black;
    }
    .feature-title{
        font-weight: 500;
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    .desc-black{
        color: #000;
    }
    // .d-pad{
    //     padding-top: 10px;
    // }
    .nav-tabs>li>a .icon{
        font-size: 22px;
        line-height: 1.5em;
        position: relative;
        top: -3px;
    }
    .tab-style-5 .nav-tabs>li>a{
        color: white;
        text-transform: uppercase;
        font-size: 1.3em;
        border: none;
    }
    .tab-style-5 .nav-tabs>li.active>a, .tab-style-5 .nav-tabs>li.active>a:focus, .tab-style-5 .nav-tabs>li.active>a:hover{
        color:$dorado;
        border: none;
    }
    @media only screen and (min-width: 991px) {
        .d-pad{
            padding-left: 0px;
        }
        
    }
    @media only screen and (max-width: 768px) {
        .icons-row{
            padding-bottom: 131px;
        }
    }
    @media only screen and (max-width: 600px) {
        .cl{
            padding: 0;
        }
    }
}
@media only screen and (min-width: 1024px) {
        .leftul{
            left: 1325px!important;
        }
    }
#envase-section{
    background: url(../images/texturplast/envase.jpg);
    background-position: center center;
    background-size: cover;
    padding: 115px 0;
    color: white;
    h3{
        color: white
    }
}
// .lista-produc{
//     text-align: center;
// }
#otros-asesorias{
    background: #fff;
    .otros-pad{
        text-align: left;
        padding-bottom: 15px;
        text-transform: none;
    }
    .dd{
        .dd2{
          padding-left: 0px;  
        }
    }
    .parrafo-otros{
        text-align: left;
        color:#700;
    }
    .separador2{
        border-left: 2px solid #000;
        height: 150px;
    }
    p.vino-a{
        text-align: left;
        color: #000;
        font-size: 1.2em;
        line-height: 2;
    }
    a.vino-a{
        color: #700;
    }
}
.acc-faq-1 .panel{
    box-shadow: none;
    border: 0;
    display: inline-grid;
    text-align: left;
    
}
@media only screen and (max-width: 480px) {
    .separador2{
        display: none;
    
}
@media only screen and (min-width: 991px) {
    .acc-faq-1 .panel{
        width: 14%;
    }
}
section.content-section {
    padding: 20px 0;
    }
}